@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import "tailwindcss";

*{

  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}

@theme{
  --tomato: #FF6347,
}